body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
    padding: 0.5rem 7%;
}

.navbar-brand {
  color: var(--text-text-gray-dark, #292b2e);
  line-height: 1.5rem;
  letter-spacing: 2px;
}
.brand-gradient {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 4.5px;
  background: linear-gradient(96deg, #e537b9 0%, #c040df 100%);
}

